// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License.
// Code generated by Microsoft (R) AutoRest Code Generator.

package com.azure.dev.implementation;

import com.azure.core.annotation.BodyParam;
import com.azure.core.annotation.ExpectedResponses;
import com.azure.core.annotation.Get;
import com.azure.core.annotation.HeaderParam;
import com.azure.core.annotation.Headers;
import com.azure.core.annotation.Host;
import com.azure.core.annotation.HostParam;
import com.azure.core.annotation.Patch;
import com.azure.core.annotation.PathParam;
import com.azure.core.annotation.QueryParam;
import com.azure.core.annotation.ReturnType;
import com.azure.core.annotation.ServiceInterface;
import com.azure.core.annotation.ServiceMethod;
import com.azure.core.annotation.UnexpectedResponseExceptionType;
import com.azure.core.http.rest.Response;
import com.azure.core.http.rest.RestProxy;
import com.azure.core.management.exception.ManagementException;
import com.azure.core.util.Context;
import com.azure.core.util.FluxUtil;
import com.azure.core.util.logging.ClientLogger;
import com.azure.dev.fluent.ResourcesClient;
import com.azure.dev.fluent.models.DefinitionResourceReferenceInner;
import java.util.List;
import reactor.core.publisher.Mono;

/** An instance of this class provides access to all the operations defined in ResourcesClient. */
public final class ResourcesClientImpl implements ResourcesClient {
    private final ClientLogger logger = new ClientLogger(ResourcesClientImpl.class);

    /** The proxy service used to perform REST calls. */
    private final ResourcesService service;

    /** The service client containing this operation class. */
    private final DevClientImpl client;

    /**
     * Initializes an instance of ResourcesClientImpl.
     *
     * @param client the instance of the service client containing this operation class.
     */
    ResourcesClientImpl(DevClientImpl client) {
        this.service =
            RestProxy.create(ResourcesService.class, client.getHttpPipeline(), client.getSerializerAdapter());
        this.client = client;
    }

    /**
     * The interface defining all the services for DevClientResources to be used by the proxy service to perform REST
     * calls.
     */
    @Host("{$host}")
    @ServiceInterface(name = "DevClientResources")
    private interface ResourcesService {
        @Headers({"Content-Type: application/json"})
        @Patch("/{organization}/{project}/_apis/build/definitions/{definitionId}/resources")
        @ExpectedResponses({200})
        @UnexpectedResponseExceptionType(ManagementException.class)
        Mono<Response<List<DefinitionResourceReferenceInner>>> authorizeDefinitionResources(
            @HostParam("$host") String endpoint,
            @PathParam("organization") String organization,
            @PathParam("project") String project,
            @PathParam("definitionId") int definitionId,
            @QueryParam("api-version") String apiVersion,
            @BodyParam("application/json") List<DefinitionResourceReferenceInner> body,
            @HeaderParam("Accept") String accept,
            Context context);

        @Headers({"Content-Type: application/json"})
        @Get("/{organization}/{project}/_apis/build/definitions/{definitionId}/resources")
        @ExpectedResponses({200})
        @UnexpectedResponseExceptionType(ManagementException.class)
        Mono<Response<List<DefinitionResourceReferenceInner>>> list(
            @HostParam("$host") String endpoint,
            @PathParam("organization") String organization,
            @PathParam("project") String project,
            @PathParam("definitionId") int definitionId,
            @QueryParam("api-version") String apiVersion,
            @HeaderParam("Accept") String accept,
            Context context);
    }

    /**
     * @param organization The name of the Azure DevOps organization.
     * @param project Project ID or project name.
     * @param definitionId The definitionId parameter.
     * @param body Array of DefinitionResourceReference.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return array of DefinitionResourceReference.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<Response<List<DefinitionResourceReferenceInner>>> authorizeDefinitionResourcesWithResponseAsync(
        String organization, String project, int definitionId, List<DefinitionResourceReferenceInner> body) {
        if (this.client.getEndpoint() == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (organization == null) {
            return Mono.error(new IllegalArgumentException("Parameter organization is required and cannot be null."));
        }
        if (project == null) {
            return Mono.error(new IllegalArgumentException("Parameter project is required and cannot be null."));
        }
        if (body == null) {
            return Mono.error(new IllegalArgumentException("Parameter body is required and cannot be null."));
        } else {
            body.forEach(e -> e.validate());
        }
        final String apiVersion = "6.0";
        final String accept = "application/json";
        return FluxUtil
            .withContext(
                context ->
                    service
                        .authorizeDefinitionResources(
                            this.client.getEndpoint(),
                            organization,
                            project,
                            definitionId,
                            apiVersion,
                            body,
                            accept,
                            context))
            .contextWrite(context -> context.putAll(FluxUtil.toReactorContext(this.client.getContext()).readOnly()));
    }

    /**
     * @param organization The name of the Azure DevOps organization.
     * @param project Project ID or project name.
     * @param definitionId The definitionId parameter.
     * @param body Array of DefinitionResourceReference.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return array of DefinitionResourceReference.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<Response<List<DefinitionResourceReferenceInner>>> authorizeDefinitionResourcesWithResponseAsync(
        String organization,
        String project,
        int definitionId,
        List<DefinitionResourceReferenceInner> body,
        Context context) {
        if (this.client.getEndpoint() == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (organization == null) {
            return Mono.error(new IllegalArgumentException("Parameter organization is required and cannot be null."));
        }
        if (project == null) {
            return Mono.error(new IllegalArgumentException("Parameter project is required and cannot be null."));
        }
        if (body == null) {
            return Mono.error(new IllegalArgumentException("Parameter body is required and cannot be null."));
        } else {
            body.forEach(e -> e.validate());
        }
        final String apiVersion = "6.0";
        final String accept = "application/json";
        context = this.client.mergeContext(context);
        return service
            .authorizeDefinitionResources(
                this.client.getEndpoint(), organization, project, definitionId, apiVersion, body, accept, context);
    }

    /**
     * @param organization The name of the Azure DevOps organization.
     * @param project Project ID or project name.
     * @param definitionId The definitionId parameter.
     * @param body Array of DefinitionResourceReference.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return array of DefinitionResourceReference.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<List<DefinitionResourceReferenceInner>> authorizeDefinitionResourcesAsync(
        String organization, String project, int definitionId, List<DefinitionResourceReferenceInner> body) {
        return authorizeDefinitionResourcesWithResponseAsync(organization, project, definitionId, body)
            .flatMap(
                (Response<List<DefinitionResourceReferenceInner>> res) -> {
                    if (res.getValue() != null) {
                        return Mono.just(res.getValue());
                    } else {
                        return Mono.empty();
                    }
                });
    }

    /**
     * @param organization The name of the Azure DevOps organization.
     * @param project Project ID or project name.
     * @param definitionId The definitionId parameter.
     * @param body Array of DefinitionResourceReference.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return array of DefinitionResourceReference.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public List<DefinitionResourceReferenceInner> authorizeDefinitionResources(
        String organization, String project, int definitionId, List<DefinitionResourceReferenceInner> body) {
        return authorizeDefinitionResourcesAsync(organization, project, definitionId, body).block();
    }

    /**
     * @param organization The name of the Azure DevOps organization.
     * @param project Project ID or project name.
     * @param definitionId The definitionId parameter.
     * @param body Array of DefinitionResourceReference.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return array of DefinitionResourceReference.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public Response<List<DefinitionResourceReferenceInner>> authorizeDefinitionResourcesWithResponse(
        String organization,
        String project,
        int definitionId,
        List<DefinitionResourceReferenceInner> body,
        Context context) {
        return authorizeDefinitionResourcesWithResponseAsync(organization, project, definitionId, body, context)
            .block();
    }

    /**
     * @param organization The name of the Azure DevOps organization.
     * @param project Project ID or project name.
     * @param definitionId The definitionId parameter.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return array of DefinitionResourceReference.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<Response<List<DefinitionResourceReferenceInner>>> listWithResponseAsync(
        String organization, String project, int definitionId) {
        if (this.client.getEndpoint() == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (organization == null) {
            return Mono.error(new IllegalArgumentException("Parameter organization is required and cannot be null."));
        }
        if (project == null) {
            return Mono.error(new IllegalArgumentException("Parameter project is required and cannot be null."));
        }
        final String apiVersion = "6.0";
        final String accept = "application/json";
        return FluxUtil
            .withContext(
                context ->
                    service
                        .list(
                            this.client.getEndpoint(),
                            organization,
                            project,
                            definitionId,
                            apiVersion,
                            accept,
                            context))
            .contextWrite(context -> context.putAll(FluxUtil.toReactorContext(this.client.getContext()).readOnly()));
    }

    /**
     * @param organization The name of the Azure DevOps organization.
     * @param project Project ID or project name.
     * @param definitionId The definitionId parameter.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return array of DefinitionResourceReference.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<Response<List<DefinitionResourceReferenceInner>>> listWithResponseAsync(
        String organization, String project, int definitionId, Context context) {
        if (this.client.getEndpoint() == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (organization == null) {
            return Mono.error(new IllegalArgumentException("Parameter organization is required and cannot be null."));
        }
        if (project == null) {
            return Mono.error(new IllegalArgumentException("Parameter project is required and cannot be null."));
        }
        final String apiVersion = "6.0";
        final String accept = "application/json";
        context = this.client.mergeContext(context);
        return service
            .list(this.client.getEndpoint(), organization, project, definitionId, apiVersion, accept, context);
    }

    /**
     * @param organization The name of the Azure DevOps organization.
     * @param project Project ID or project name.
     * @param definitionId The definitionId parameter.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return array of DefinitionResourceReference.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<List<DefinitionResourceReferenceInner>> listAsync(
        String organization, String project, int definitionId) {
        return listWithResponseAsync(organization, project, definitionId)
            .flatMap(
                (Response<List<DefinitionResourceReferenceInner>> res) -> {
                    if (res.getValue() != null) {
                        return Mono.just(res.getValue());
                    } else {
                        return Mono.empty();
                    }
                });
    }

    /**
     * @param organization The name of the Azure DevOps organization.
     * @param project Project ID or project name.
     * @param definitionId The definitionId parameter.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return array of DefinitionResourceReference.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public List<DefinitionResourceReferenceInner> list(String organization, String project, int definitionId) {
        return listAsync(organization, project, definitionId).block();
    }

    /**
     * @param organization The name of the Azure DevOps organization.
     * @param project Project ID or project name.
     * @param definitionId The definitionId parameter.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return array of DefinitionResourceReference.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public Response<List<DefinitionResourceReferenceInner>> listWithResponse(
        String organization, String project, int definitionId, Context context) {
        return listWithResponseAsync(organization, project, definitionId, context).block();
    }
}
