// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License.
// Code generated by Microsoft (R) AutoRest Code Generator.

package com.azure.dev.implementation;

import com.azure.core.annotation.BodyParam;
import com.azure.core.annotation.ExpectedResponses;
import com.azure.core.annotation.Get;
import com.azure.core.annotation.HeaderParam;
import com.azure.core.annotation.Headers;
import com.azure.core.annotation.Host;
import com.azure.core.annotation.HostParam;
import com.azure.core.annotation.Patch;
import com.azure.core.annotation.PathParam;
import com.azure.core.annotation.QueryParam;
import com.azure.core.annotation.ReturnType;
import com.azure.core.annotation.ServiceInterface;
import com.azure.core.annotation.ServiceMethod;
import com.azure.core.annotation.UnexpectedResponseExceptionType;
import com.azure.core.http.rest.Response;
import com.azure.core.http.rest.RestProxy;
import com.azure.core.management.exception.ManagementException;
import com.azure.core.util.Context;
import com.azure.core.util.FluxUtil;
import com.azure.core.util.logging.ClientLogger;
import com.azure.dev.fluent.SettingsClient;
import com.azure.dev.fluent.models.BuildSettingsInner;
import reactor.core.publisher.Mono;

/** An instance of this class provides access to all the operations defined in SettingsClient. */
public final class SettingsClientImpl implements SettingsClient {
    private final ClientLogger logger = new ClientLogger(SettingsClientImpl.class);

    /** The proxy service used to perform REST calls. */
    private final SettingsService service;

    /** The service client containing this operation class. */
    private final DevClientImpl client;

    /**
     * Initializes an instance of SettingsClientImpl.
     *
     * @param client the instance of the service client containing this operation class.
     */
    SettingsClientImpl(DevClientImpl client) {
        this.service = RestProxy.create(SettingsService.class, client.getHttpPipeline(), client.getSerializerAdapter());
        this.client = client;
    }

    /**
     * The interface defining all the services for DevClientSettings to be used by the proxy service to perform REST
     * calls.
     */
    @Host("{$host}")
    @ServiceInterface(name = "DevClientSettings")
    private interface SettingsService {
        @Headers({"Content-Type: application/json"})
        @Get("/{organization}/{project}/_apis/build/settings")
        @ExpectedResponses({200})
        @UnexpectedResponseExceptionType(ManagementException.class)
        Mono<Response<BuildSettingsInner>> get(
            @HostParam("$host") String endpoint,
            @PathParam("organization") String organization,
            @PathParam("project") String project,
            @QueryParam("api-version") String apiVersion,
            @HeaderParam("Accept") String accept,
            Context context);

        @Headers({"Content-Type: application/json"})
        @Patch("/{organization}/{project}/_apis/build/settings")
        @ExpectedResponses({200})
        @UnexpectedResponseExceptionType(ManagementException.class)
        Mono<Response<BuildSettingsInner>> update(
            @HostParam("$host") String endpoint,
            @PathParam("organization") String organization,
            @PathParam("project") String project,
            @QueryParam("api-version") String apiVersion,
            @BodyParam("application/json") BuildSettingsInner body,
            @HeaderParam("Accept") String accept,
            Context context);
    }

    /**
     * Gets the build settings.
     *
     * @param organization The name of the Azure DevOps organization.
     * @param project Project ID or project name.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the build settings.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<Response<BuildSettingsInner>> getWithResponseAsync(String organization, String project) {
        if (this.client.getEndpoint() == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (organization == null) {
            return Mono.error(new IllegalArgumentException("Parameter organization is required and cannot be null."));
        }
        if (project == null) {
            return Mono.error(new IllegalArgumentException("Parameter project is required and cannot be null."));
        }
        final String apiVersion = "6.0";
        final String accept = "application/json";
        return FluxUtil
            .withContext(
                context -> service.get(this.client.getEndpoint(), organization, project, apiVersion, accept, context))
            .contextWrite(context -> context.putAll(FluxUtil.toReactorContext(this.client.getContext()).readOnly()));
    }

    /**
     * Gets the build settings.
     *
     * @param organization The name of the Azure DevOps organization.
     * @param project Project ID or project name.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the build settings.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<Response<BuildSettingsInner>> getWithResponseAsync(
        String organization, String project, Context context) {
        if (this.client.getEndpoint() == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (organization == null) {
            return Mono.error(new IllegalArgumentException("Parameter organization is required and cannot be null."));
        }
        if (project == null) {
            return Mono.error(new IllegalArgumentException("Parameter project is required and cannot be null."));
        }
        final String apiVersion = "6.0";
        final String accept = "application/json";
        context = this.client.mergeContext(context);
        return service.get(this.client.getEndpoint(), organization, project, apiVersion, accept, context);
    }

    /**
     * Gets the build settings.
     *
     * @param organization The name of the Azure DevOps organization.
     * @param project Project ID or project name.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the build settings.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<BuildSettingsInner> getAsync(String organization, String project) {
        return getWithResponseAsync(organization, project)
            .flatMap(
                (Response<BuildSettingsInner> res) -> {
                    if (res.getValue() != null) {
                        return Mono.just(res.getValue());
                    } else {
                        return Mono.empty();
                    }
                });
    }

    /**
     * Gets the build settings.
     *
     * @param organization The name of the Azure DevOps organization.
     * @param project Project ID or project name.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the build settings.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public BuildSettingsInner get(String organization, String project) {
        return getAsync(organization, project).block();
    }

    /**
     * Gets the build settings.
     *
     * @param organization The name of the Azure DevOps organization.
     * @param project Project ID or project name.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the build settings.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public Response<BuildSettingsInner> getWithResponse(String organization, String project, Context context) {
        return getWithResponseAsync(organization, project, context).block();
    }

    /**
     * Updates the build settings.
     *
     * @param organization The name of the Azure DevOps organization.
     * @param project Project ID or project name.
     * @param body The new settings.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return represents system-wide build settings.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<Response<BuildSettingsInner>> updateWithResponseAsync(
        String organization, String project, BuildSettingsInner body) {
        if (this.client.getEndpoint() == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (organization == null) {
            return Mono.error(new IllegalArgumentException("Parameter organization is required and cannot be null."));
        }
        if (project == null) {
            return Mono.error(new IllegalArgumentException("Parameter project is required and cannot be null."));
        }
        if (body == null) {
            return Mono.error(new IllegalArgumentException("Parameter body is required and cannot be null."));
        } else {
            body.validate();
        }
        final String apiVersion = "6.0";
        final String accept = "application/json";
        return FluxUtil
            .withContext(
                context ->
                    service.update(this.client.getEndpoint(), organization, project, apiVersion, body, accept, context))
            .contextWrite(context -> context.putAll(FluxUtil.toReactorContext(this.client.getContext()).readOnly()));
    }

    /**
     * Updates the build settings.
     *
     * @param organization The name of the Azure DevOps organization.
     * @param project Project ID or project name.
     * @param body The new settings.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return represents system-wide build settings.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<Response<BuildSettingsInner>> updateWithResponseAsync(
        String organization, String project, BuildSettingsInner body, Context context) {
        if (this.client.getEndpoint() == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (organization == null) {
            return Mono.error(new IllegalArgumentException("Parameter organization is required and cannot be null."));
        }
        if (project == null) {
            return Mono.error(new IllegalArgumentException("Parameter project is required and cannot be null."));
        }
        if (body == null) {
            return Mono.error(new IllegalArgumentException("Parameter body is required and cannot be null."));
        } else {
            body.validate();
        }
        final String apiVersion = "6.0";
        final String accept = "application/json";
        context = this.client.mergeContext(context);
        return service.update(this.client.getEndpoint(), organization, project, apiVersion, body, accept, context);
    }

    /**
     * Updates the build settings.
     *
     * @param organization The name of the Azure DevOps organization.
     * @param project Project ID or project name.
     * @param body The new settings.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return represents system-wide build settings.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<BuildSettingsInner> updateAsync(String organization, String project, BuildSettingsInner body) {
        return updateWithResponseAsync(organization, project, body)
            .flatMap(
                (Response<BuildSettingsInner> res) -> {
                    if (res.getValue() != null) {
                        return Mono.just(res.getValue());
                    } else {
                        return Mono.empty();
                    }
                });
    }

    /**
     * Updates the build settings.
     *
     * @param organization The name of the Azure DevOps organization.
     * @param project Project ID or project name.
     * @param body The new settings.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return represents system-wide build settings.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public BuildSettingsInner update(String organization, String project, BuildSettingsInner body) {
        return updateAsync(organization, project, body).block();
    }

    /**
     * Updates the build settings.
     *
     * @param organization The name of the Azure DevOps organization.
     * @param project Project ID or project name.
     * @param body The new settings.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return represents system-wide build settings.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public Response<BuildSettingsInner> updateWithResponse(
        String organization, String project, BuildSettingsInner body, Context context) {
        return updateWithResponseAsync(organization, project, body, context).block();
    }
}
